footer.container-fluid.footer.bg-dark.mt-5.pt-5
    .row
      .col-lg-4.col-md-12.col-sm-12.text-white.text-center.mb-5
        h2
          | Con
          span(style='color: green;') Quest
          |  TRAVELS
        p.mt-5
          | Pakistan, where your journey begins. Discover your next great place, find trips and know about the famous travel destinations of Pakistan. A travel and tourism company of Pakistan, city sightseeing, group and corporate tours, camping and hiking adventures, family and solo trips, and much more for a perfect travel experience in Pakistan!
      .col-lg-4.col-md-12.col-sm-12.text-center.mb-5
        div(style='overflow:hidden; padding-bottom:56.25%; position:relative; height:0;')
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27213.58274217627!2d74.32574851949998!3d31.504988197710077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919045a28ff1d39%3A0xf71e739b84b3c3c!2sGulberg%20III%2C%20Lahore%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1655761257503!5m2!1sen!2s', width='600', height='450', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')
      .col-lg-4.col-md-12.col-sm-12.text-white.text-center.mb-5
        h3.text-white Contact Info
        p.mt-5 Phone : +92 321 410 6223
        p  info@pakistantravelplaces.com
        p.mb-1(style='color: green;') 8-B, Iqbal Avenue Phase 1, Main Gulberg III, Lahore.
        // Facebook
        a.btn.btn-outline-light.btn-floating.m-1(href='#!', role='button')
          i.fab.fa-facebook-f
        // Google
        a.btn.btn-outline-light.btn-floating.m-1(href='#!', role='button')
          i.fab.fa-google
        // Instagram
        a.btn.btn-outline-light.btn-floating.m-1(href='#!', role='button')
          i.fab.fa-instagram
    hr(style='color: white;')
    .text-center
      p.copyright.text-white.p-3
        | Copyright &copy;
        script.
          document.write(new Date().getFullYear());
        |  All rights reserved