<nav class="navbar navbar-reverse container-fluid navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style="color: white; font-size: 25px"> Con<span style="color: green;">Quest</span> <span style="font-size: 10px">TRAVELS</span> </a>
    <button type="button" class="navbar-toggler bg-dark" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"> <span class="navbar-toggler-icon "></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/products">Packages</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">     
         
                <li class="nav-item">
                    <a class="nav-link" href="/cart"> Bookmarks
                        <span class="material-symbols-outlined">bookmarks</span>
                    </a>
                </li>    
                <li class="nav-item">
                    <a class="nav-link" href="/products/add"> Upload
                        <span class="material-symbols-outlined">file_upload</span>
                    </a>
                </li>    
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
          
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Signup</a>
                </li>
        </ul>
    </div>
</nav>

