extends layout

block content
  .row.mt-2
  .container.col-lg-10.col-10.text-center
    h3.fw-light.text-center.text-lg.m-5(style='')
      | LETS 
      span(style='color: green;')  TRAVEL 
      |  ANYWHERE 
      span.material-symbols-outlined(style="font-weight: bold") rocket_launch
      hr
    p Discover breathtaking and amazing Pakistan with one of the best Travel and Tourism Company of Pakistan. We are offering valued touristy plans with complete travel services in affordable tour packages from Lahore, Islamabad and Karachi. Our tour managers and guides organize thrilling and audacious journeys to bring unforgettable holidays happening. 
    p So, pack your bags and travel with ConQuest Travels to turn your travel dreams into reality.

  .container.mt-5
  h1.fw-light.text-center.text-lg-start.mt-4.mb-0 Pakistan’s Top Tourism Destinations 
    span.material-symbols-outlined(style='color: green; font-size: 35px')  push_pin
  hr.mt-2.mb-5
  .row.text-center.text-lg-start
    .col-lg-3.col-md-4.col-6
      a.d-block.mb-4.h-100(href='products')
        figure.figure
          img.img-fluid.img-thumbnail(src='https://cdn-afndf.nitrocdn.com/jqvgQQUiCjgTOeXKbEwzrEFafAzuksoG/assets/static/optimized/rev-d119929/wp-content/uploads/2020/01/gettyimages-954399418-2048x2048-1.jpg')
          figcaption.figure-caption
            | Attabad Lake
            br
            |  Hunza
    .col-lg-3.col-md-4.col-6
      a.d-block.mb-4.h-100(href='products')
        figure.figure
          img.img-fluid.img-thumbnail(src='https://c1.wallpaperflare.com/preview/78/99/659/lower-kachura-lake-shangrila-lake-skardu-pakistan.jpg')
          figcaption.figure-caption
            | Shangrila Resort
            br
            |  Skardu
    .col-lg-3.col-md-4.col-6
      a.d-block.mb-4.h-100(href='products')
        figure.figure
          img.img-fluid.img-thumbnail(src='https://c0.wallpaperflare.com/preview/66/15/818/arang-kel-love-wallpaper-autumn.jpg')
          figcaption.figure-caption
            | Arang Kel
            br
            |  Kashmir
    .col-lg-3.col-md-4.col-6
      a.d-block.mb-4.h-100(href='products')
        figure.figure
          img.img-fluid.img-thumbnail(src='https://c0.wallpaperflare.com/preview/204/898/444/green-field-under-cloudy-sky-during-daytime.jpg')
          figcaption.figure-caption
            | Mushkpuri Top
            br
            |  Muree
    .col-lg-3.col-md-4.col-6
      a.d-block.mb-4.h-100(href='products')
        figure.figure
          img.img-fluid.img-thumbnail(src='https://pakiholic.com/wp-content/uploads/2017/06/2-Travelling-towards-Chillam-Village-S.M.Bukhari.jpg')
          figcaption.figure-caption
            | Deosai Plains
            br
            |  Skardu
    .col-lg-3.col-md-4.col-6
      a.d-block.mb-4.h-100(href='products')
        figure.figure
          img.img-fluid.img-thumbnail(src='https://hunzaadventuretours.com/wp-content/uploads/2017/01/Khunjera-Pass-Gilgit-Baltian-Pakistan-1.jpg')
          figcaption.figure-caption
            | Khunjrab Pass
            br
            |  Kashghar
    .col-lg-3.col-md-4.col-6
      a.d-block.mb-4.h-100(href='products')
        figure.figure
          img.img-fluid.img-thumbnail(src='https://www.natureadventureclub.pk/blog/wp-content/uploads/2019/07/naltar.jpg')
          figcaption.figure-caption
            | Naltar Valley
            br
            |  Gilgit
    .col-lg-3.col-md-4.col-6
      a.d-block.mb-4.h-100(href='products')
        figure.figure
          img.img-fluid.img-thumbnail(src='https://www.natureadventureclub.pk/blog/wp-content/uploads/2019/07/naltar.jpg')
          figcaption.figure-caption
            | Malam Jaba
            br
            |  Swat
    .col-lg-3.col-md-4.col-6
      a.d-block.mb-4.h-100(href='products')
        figure.figure
          img.img-fluid.img-thumbnail(src='https://www.pakistantourism.com.pk/wp-content/uploads/2021/05/Fairy-Meadows-Tour.jpg')
          figcaption.figure-caption
            | Fairy Meadows
            br
            |  Diamer        
    .col-lg-3.col-md-4.col-6
      a.d-block.mb-4.h-100(href='products')
        figure.figure
          img.img-fluid.img-thumbnail(src='https://pakiholic.com/wp-content/uploads/2017/04/50-What-are-you-waiting-for-Travel-to-Hunza-and-Enjoy-a-trip-of-a-lifetime.jpg')
          figcaption.figure-caption
            | Gojal
            br
            |  Hunza
    .col-lg-3.col-md-4.col-6
      a.d-block.mb-4.h-100(href='products')
        figure.figure
          img.img-fluid.img-thumbnail(src='https://upload.wikimedia.org/wikipedia/commons/c/c6/Ratti_gali_lake.jpg')
          figcaption.figure-caption
            | Ratti Gali
            br
            |  Kashmir
    .col-lg-3.col-md-4.col-6
      a.d-block.mb-4.h-100(href='products')
        figure.figure
          img.img-fluid.img-thumbnail(src='https://media.istockphoto.com/photos/woman-wearing-traditional-dress-sitting-on-wall-and-looking-at-hunza-picture-id1217081362?k=20&m=1217081362&s=612x612&w=0&h=KfusmLHLSIU_vM8PpCraNC-C60td4qynM_TE31LAbTc=')
          figcaption.figure-caption
            | Birdeye
            br
            |  Hunza

  .mx-lg-3.my-5.row.bg-dark
    .col-lg-3.col-sm-12.text-white.text-center.py-3
      h5.mt-3  WHY BOOK WITH US? 
    .col-lg-3.col-sm-12.text-white.text-center.py-3
      span.material-symbols-outlined(style="color: green;") spa
      h5  CARING STAFF
    .col-lg-3.col-sm-12.text-white.text-center.py-3
      span.material-symbols-outlined(style="color: green;") payments
      h5  SECURE PAYMENT
    .col-lg-3.col-sm-12.text-white.text-center.py-3
      span.material-symbols-outlined(style="color: green;") wallet
      h5  DISCOUNTED PRICE

  .row.mt-2
    .container.col-lg-10.col-10
      h3.fw-light.text-lg.mt-5
        | PAKISTAN - A TRAVEL 
        span(style='color: green;') INSPIRATION
        |  FOR YOU
        hr
      p
        | Pakistan&rsquo;s awe-inspiring destinations should be visited with a hike of charm and excitement. Pakistan is enriched with the vast mountain ranges for trekkers, adventure lovers and relaxing views for the calm personalities, however, Northern Pakistan is particularly called the enduring region worldwide. Breathtaking peaks, scenic lakes, whistling springs, lush green meadows, archaeological and historical sites, there are many more to make rejoice your travel expedition.
      p
        | Check Tour Packages according to popular destinations of Pakistan and confirm your booking.


  .row.m-5
    .col-lg-6.col-12.text-center
      img.img-fluid.rounded(src='https://t4.ftcdn.net/jpg/04/71/51/69/360_F_471516908_LWNRfjmb0tCn1tDu54zw4va72sGV0jd8.jpg', style='height: 80% ;')
    .col-lg-6.col-12
      h1  About us 
      hr
      p
        | Pakistan Travel Places is one of the best and reliable tourism company in Pakistan. To get into the traveling expedition, you’ve just got the right option. We take you higher to explore the surprising beauty of Pakistan. As a Pakistan tourism company, we introduced the best opportunities to travel with enticing and super-comfy services. So, get ready for a journey that you’ve never seen before!
      h5.mt-5  Values 
      p
        | Do not worry if you’re confused to find the trustworthy Travel agency in Lahore, Pakistan. You can see our client’s review, we are completely different from other traveling firms. People trust on our services blindly and spreading our tour company to others.
      h5.mt-5  History 
      p
        | We arrange a fully entertaining and exploratory journey to your desired destinations. Whether you look forward to getting around all the tourist spots of booked place or even want to focus its highlights to make the tour brief and rejoicing, every client with multiple travel priorities is welcomed at Pakistan Travel Places      